---
import '../assets/style.css';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Takeaways from '../components/Takeaways.astro';
import Section from '../components/Section.astro';
import HomeHero from '../components/HomeHero.astro';
import HomeTakeaways from '../components/HomeTakeaways.astro';
---

<!DOCTYPE html>
<html lang="de" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body class="font-sans">
    <div class="flex flex-col">
      <Header />

      <main>
        <Hero />

        <HomeTakeaways />

        <Takeaways />

        <Section>
          <h2 class="text-2xl font-semibold">Bündnispartner*innen</h2>

          logos
        </Section>

        <Section>
          <h2 class="text-2xl font-semibold">Kontakt</h2>

          logos
        </Section>
      </main>
    </div>

    <Footer />
  </body>
</html>
