---
import Section from './Section.astro';
import * as backgroundInfo from '../data/backgroundInfo.md';
import Prose from './Prose.astro';
---

<div id="hintergrund">
  <Section>
    <Prose>
      <div set:html={backgroundInfo.compiledContent()}></div>
    </Prose>
  </Section>
</div>
