---
import Headline from './Headline.astro';
import Icon from './Icon.astro';
import Section from './Section.astro';
---

<Section id="kontakt">
  <Headline>Pressekontakt</Headline>
  <div class="mt-4 space-y-2">
    <p>
      Arne Semsrott<br />
      Projektleiter FragDenStaat<br />
      <a href="mailto:info@fragdenstaat.de" class="action-link">
        <Icon name="email-outline" /> info@fragdenstaat.de
      </a>
      <br />
      <a href="tel:+493097894231" class="action-link">
        <Icon name="phone" /> 030 97894231
      </a>
    </p>
  </div>
</Section>
