---
import Section from './Section.astro';
import Icon from './Icon.astro';
import Headline from './Headline.astro';
---

<Section id="downloads">
  <Headline>Downloads</Headline>

  <ul class="mt-4 space-y-2">
    <li>
      <a href="/gesetzentwurf.pdf" class="action-link">
        <Icon name="arrow-right" /> gesamter Gesetzentwurf (PDF)
      </a>
    </li>
    <li>
      <a href="/factsheet.pdf" class="action-link">
        <Icon name="arrow-right" /> Factsheet (PDF)
      </a>
    </li>
    <li>
      <a href="/hintergrundpapier.pdf" class="action-link">
        <Icon name="arrow-right" /> Hintergrundpapier (PDF)
      </a>
    </li>
    <li>
      <a
        href="https://www.flickr.com/photos/mehr-demokratie/albums/72177720302487931"
        target="_blank"
        rel="noreferrer noopener"
      >
        <Icon name="arrow-right" /> Pressefotos der Entwurfübergabe (Flickr)
      </a>
    </li>
  </ul>
</Section>
