<footer class="bg-gray-100 mt-8">
  <div class="max-w-screen-xl mx-auto w-full px-4 md:px-8 py-12">
    <div class="flex flex-col md:flex-row">
      <div class="text-gray-800 space-y-2">
        <p>
          Ein Projekt von <a href="https://fragdenstaat.de">FragDenStaat</a> und
          <a href="https://www.mehr-demokratie.de">Mehr Demokratie</a>.
        </p>
      </div>
      <div class="md:ml-auto mt-4 md:mt-0">
        <a href="https://fragdenstaat.de/impressum/" class="mr-4"> Impressum</a>
        <a href="https://fragdenstaat.de/datenschutz/"> Datenschutz</a>
      </div>
    </div>

    <div class="mt-4 space-y-2">
      <p class="text-sm">
        Foto Paul-Löbe-Haus:
        <a
          href="https://unsplash.com/photos/tLLmz54M8I8"
          rel="noreferrer noopener"
          target="_blank"
        >
          Robin Spielmann
        </a>
      </p>
      <p class="text-sm">
        Diese Seite nutzt statt der üblichen externen Dienstleister das
        selbstbetriebene und damit datenschutzfreundlichere Matomo, um ohne
        Cookies statistische Auswertungen der Seitennutzung zu erhalten. Wenn
        Sie diese Zählung nicht wollen, <a
          href="https://traffic.okfn.de/index.php?module=CoreAdminHome&action=optOut&language=de"
          >klicken Sie bitte hier und entfernen Sie den Haken</a
        >.
      </p>
    </div>
  </div>
</footer>

<style scoped>
  a {
    @apply hover:text-gray-500 underline underline-offset-2;
  }
</style>
