<header class="max-w-screen-lg w-full mx-auto px-4 md:px-8 py-8 md:py-16">
  <nav class="flex">
    <h1 class="mr-8 text-cyan-900 text-sm md:text-base">
      Transparenzgesetz.de
    </h1>
    <ul class="hidden md:flex ml-auto text-gray-700">
      <li class="mr-6"><a href="#kernpunkte">Kernpunkte</a></li>
      <li class="mr-6"><a href="#hintergrund">Hintergrund</a></li>
      <li class="mr-6"><a href="#downloads">Downloads</a></li>
      <li><a href="#kontakt">Kontakt</a></li>
    </ul>
  </nav>
</header>
