---
import lupe from '../assets/jalousien-lupe.png';
---

<div class="xl:hero-wrapper">
  <div class="max-w-screen-lg mx-auto w-full px-4 md:px-8">
    <section class="md:flex">
      <div>
        <div class="max-w-3xl space-y-4 md:space-y-8">
          <p class="text-xl md:text-3xl">
            Die Bundesregierung hat zwar ein Transparenzgesetz versprochen, aber
            konkrete Planungen gibt es nicht.
          </p>
          <p
            class="text-3xl md:text-5xl font-bold bg-gradient-to-r from-blue-500 to-cyan-500 bg-clip-text text-transparent"
          >
            Deswegen legen wir jetzt selbst eines vor.
          </p>
          <p class="motion-safe:animate-bounce">
            <a href="#kernpunkte" class="action-link"> ↓ Jetzt lesen</a>
          </p>
        </div>
      </div>

      <div class="md:max-w-xs lg:max-w-lg">
        <img
          src={lupe}
          class="block xl:hidden w-full mt-8 md:mt-0"
          alt=""
          width="512"
          height="520"
          loading="lazy"
        />
      </div>
    </section>
  </div>
</div>
