---
import Icon from './Icon.astro';
---

<div class="mt-auto" x-data="{ open: false }">
  <slot name="btn" />

  <template x-teleport="body">
    <div
      tabindex="-1"
      class="fixed inset-0 w-full h-full flex"
      :class="{ 'open': open }"
      @keydown.escape="open = false"
      role="dialog"
      aria-modal="true"
      aria-live="assertive"
      aria-label="Details"
      x-show="open"
      x-transition.opacity
      x-trap.inert.noscroll="open"
    >
      <div
        class="bg-gray-500 bg-opacity-50 flex items-center w-full flex-1"
        @click.self="open = false"
      >
        <div class="max-w-2xl w-full mx-auto px-4">
          <div class="bg-white rounded shadow-lg p-4">
            <div class="flex justify-end">
              <button
                class="inline text-gray-500 hover:text-gray-700 focus:text-gray-700"
                aria-label="Schließen"
                @click="open = false"
              >
                <Icon name="close" class="h-4 w-4" />
              </button>
            </div>
            <div class="max-h-[80vh] overflow-y-auto">
              <slot name="content" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
</div>
