---
import Section from './Section.astro';
import Icon from './Icon.astro';
import takeaways from '../data/takeaways.yaml';
import Modal from './Modal.astro';
import Prose from './Prose.astro';
import Headline from './Headline.astro';
---

<Section id="kernpunkte">
  <Headline>Die Kernpunkte in Kürze</Headline>

  <ol class="grid md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-12 my-8 mt-16">
    {
      takeaways.map((takeaway, i) => (
        <li class="border rounded shadow-sm shadow-blue-50 p-4 flex flex-col">
          <div class="flex justify-start">
            <div
              class="rounded-full bg-gray-100 text-blue-500 mr-4 w-16 h-16 -mt-12 flex items-center justify-center shadow-sm"
              aria-hidden="true"
            >
              {takeaway.icon ? (
                <Icon name={takeaway.icon} class="m-3" />
              ) : undefined}
            </div>
          </div>

          <div class="mt-3 hyphens-auto flex flex-col flex-1">
            <h3 class="font-semibold text-lg mb-1">{takeaway.title}</h3>
            <p>{takeaway.description}</p>

            {takeaway.details ? (
              <Modal>
                <Prose slot="content">
                  <p>{takeaway.details}</p>
                </Prose>

                <button
                  type="button"
                  class="action-link text-left pt-3"
                  slot="btn"
                  @click="open = true"
                >
                  <Icon name="arrow-right" /> Details lesen…
                </button>
              </Modal>
            ) : undefined}
          </div>
        </li>
      ))
    }
  </ol>

  <a href="/gesetzentwurf.pdf" class="action-link">
    <Icon name="arrow-right" /> gesamten Gesetzesentwurf lesen (PDF)
  </a>
</Section>
