@import '@fontsource/inter/latin-ext-500.css';
@import '@fontsource/inter/latin-ext-600.css';
@import '@fontsource/inter/latin-ext-700.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hero-wrapper {
    background-image: url('./jalousien.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    min-height: calc(100vh - 9.5rem);
  }
}

a {
  @apply transition-colors;
}

.action-link {
  @apply font-semibold text-blue-500 hover:text-blue-400;
}
